<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-top-bar" class="sc-top-bar">
			<div class="sc-top-bar-content sc-padding-medium-top sc-padding-medium-bottom uk-flex-1">
				<div class="uk-flex-1">
					<h1 class="sc-top-bar-title">
						Report
					</h1>
					<span class="uk-text-muted">
						Email Management System
					</span>
				</div>
				<div class="sc-actions uk-margin-left">
					<a @click="btnPrinter" href="javascript:void(0)" class="sc-actions-icon mdi mdi-printer"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-archive"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-dots-vertical"></a>
				</div>
			</div>
		</div>
		<div id="sc-page-content">
			<ScCard>
				<ScCardBody>
					<VueGoodTable
						mode="remote"
						@on-page-change="onPageChange"
						@on-sort-change="onSortChange"
						@on-column-filter="onColumnFilter"
						@on-per-page-change="onPerPageChange"
						@on-search="onSearch"
						@on-row-dblclick="onRowDoubleClick"
						:totalRows="totalRecords"
						:isLoading.sync="isLoading"
						:pagination-options="{
							enabled: true,
						  }"
						:search-options="{
							enabled: true,
							placeholder: 'Search this report email',
						  }"
						:columns="columns"
						:rows="rows"
					>
						<template slot="table-row" slot-scope="props">
							<span v-if="props.column.field === 'id'">
								<span><a data-uk-tooltip="Blast Email" @click="mEdit(props.row)" href="javascript:void(0)" class="mdi mdi-send"></a></span>
<!--								<span><a data-uk-tooltip="Delete Cycle"@click.prevent="deleteItem($event, props.row)" href="javascript:void(0)" class="mdi md-color-red-600 mdi mdi-delete"></a></span>-->
							</span>

							<span v-else-if="props.column.field === 'cycle'">
								{{ props.row.cycle.substring(6,8) }}
							</span>
							<span v-else-if="props.column.field === 'grand_total'">
								{{ currencyFormat2(props.row.grand_total, '') }}
							</span>
							<span v-else-if="props.column.field === 'process'">
								<span v-if="props.row.process === 0" class="uk-label" :class="[priorityLabel('done')]">
									done
								</span>
								<span v-else>
									{{ currencyFormat2(props.row.process, '') }}
								</span>
<!--								{{ currencyFormat2(props.row.process, '') }}-->
							</span>
							<span v-else-if="props.column.field === 'deliver'">
								{{ currencyFormat2(props.row.deliver, '') }}
							</span>
							<span v-else-if="props.column.field === 'opened'">
								{{ currencyFormat2(props.row.opened, '') }}
							</span>
							<span v-else-if="props.column.field === 'blast_status'" class="uk-label" :class="[priorityLabel(props.row.blast_status)]">
								{{ props.row.blast_status }}
							</span>
<!--							<nuxt-link v-else-if="props.column.field === 'content'" :to="'/masterdata/content/details/' + props.row.content_id + '/content_details'">-->
<!--								click to open the content preview...-->
<!--							</nuxt-link>-->
							<span v-else>
								  {{props.formattedRow[props.column.field]}}
							</span>
						</template>
					</VueGoodTable>
				</ScCardBody>
			</ScCard>
		</div>
<!--		FAB BUTTON-->
<!--		<div class="sc-fab-page-wrapper uk-animation-slide-left">-->
<!--			<a href="javascript:void(0)" @click="mDetails" class="sc-fab sc-fab-text md-bg-light-blue-700 sc-fab-dark">-->
<!--				<i class="mdi mdi-plus"></i>Create-->
<!--			</a>-->
<!--		</div>-->
<!--		<div class="sc-fab-page-wrapper uk-animation-slide-left">-->
<!--			<a href="javascript:void(0)" @click="mDetails" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">-->
<!--				<i class="mdi mdi-plus"></i>Create-->
<!--			</a>-->
<!--		</div>-->
	</div>
</template>

<script>
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';
	// import { mapState } from 'vuex'
	export default {
		components: {
			VueGoodTable
		},
		async asyncData({app, error}){
			// let listData = await context.$axios.get(`cms/masterdata/content/list/page=1/limit=10/column-sort=id/sort=desc`)
			// return {
			// 	listData: listData.data,
			// }
			// console.log(app.$axios)
			return await app.$axios.get('cms/email/report-email/list/page=1/limit=100/column-sort=cycle/sort=asc')
				.then((res) => {
					// console.log(res.data)
					return {
						listItemTable: res.data,
					}
				})
				.catch((e) => {
					error({ statusCode: 404, message: e })
				})
		},
		data: () => ({
			isLoading: false,
			progress: false,
			totalRecords: 0,
			serverParams: {
				columnFilters: {
				},
				sort: {
					field: 'id',
					type: 'desc',
				},
				page: 1,
				perPage: 10,
				searchVal: ''
			},
			rows: [
				// {
				// 	mode: 'span', // span means this header will span all columns
				// 	label: 'Mammal', // this is the label that'll be used for the header
				// 	html: false, // if this is true, label will be rendered as html
				// 	children: [
				// 		{ id:1, name:"John", age: 20, createdAt: '2019-10-12', score: 0.241 },
				// 		{ id:2, name:"Jane", age: 24, createdAt: '2019-10-31', score: 0.03343 }
				// 	]
				// },

				{ id:1, name:"John", age: 20, createdAt: '2019-10-12', score: 0.241 },
				{ id:2, name:"Jane", age: 24, createdAt: '2019-10-31', score: 0.03343 },
				{ id:3, name:"Susan", age: 16, createdAt: '2019-10-14', score: 1.00 },
				{ id:4, name:"Chris", age: 55, createdAt: '2019-10-11', score: 0.081 },
				{ id:5, name:"Dan", age: 40, createdAt: '2019-10-25', score: 0.052 },
				{ id:6, name:"John", age: 20, createdAt: '2019-10-30', score: 0.0012 },
			],
		}),
		computed: {
			myLastCounted(){
				// console.log(this.$store.state.auth.count)
				return this.$store.state.auth.count
			},
			columns() {
				return [
					{
						label: 'Cycle',
						field: 'cycle',
						// filterOptions: {
						// 	enabled: true
						// }
					},
					{
						label: 'Total',
						field: 'grand_total',
						// filterOptions: {
						// 	enabled: true
						// }
					},
					{
						label: 'Process',
						field: 'process',
						width: '15%',
						// thClass: 'uk-text-center',
						// tdClass: 'uk-text-center',
						// filterOptions: {
						// 	enabled: true
						// }
					},
					{
						label: 'Sent',
						field: 'sent',
						width: '15%',
						// thClass: 'uk-text-center',
						// tdClass: 'uk-text-center',
						// filterOptions: {
						// 	enabled: true
						// }
					},
					{
						label: 'Failed',
						field: 'bounce',
						width: '15%',
						// thClass: 'uk-text-center',
						// tdClass: 'uk-text-center',
						// filterOptions: {
						// 	enabled: true
						// }
					},
					// {
					// 	// label: 'Action',
					// 	field: 'id',
					// 	sortable: false,
					// 	width: '50px',
					// 	tdClass: 'uk-text-center',
					// },

				]
			}
			// ...mapState('auth', {
			// 	lastcnt: state => state.count
			// 	// messages: state => state.messages,
			// 	// chatOpened: state => state.chatOpened,
			// 	// replyFromTech: state => state.replyFromTech
			// })
		},
		methods: {
			btnPrinter(){
				this.$store.commit('auth/increment', 1)
				// console.log(this.$store.state.auth.count)
			},
			deleteItem(e, row){
				// console.log(row.id, row)
				const self = this;
				let index = this.listItemTable.data.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('department/deleteDepartment', row.id)
					// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listItemTable.data.splice(index, 1);
						// self.loadItems(false);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			toggleIsActiveItem(e, row){
				// console.log(row)
				const self = this;
				let index = this.listItemTable.data.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm(`<p class="uk-text-large">Do you really want to ${row.is_deleted === '0' ? 'deactivate' : 'activate'} <strong>${row.content_title}</strong>?</p>`, {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': row.is_deleted === '0' ? 'Deactivate' : 'Activate'
					}
				}).then(async function () {
					// Updated
					await self.$store.dispatch('disaster/editIsActiveDisaster', {id: row.content_id, is_deleted: row.is_deleted === '0' ? '1' : '0'})
					// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						// console.log(self.listItemTable.data[index].is_deleted = '1')
						row.is_deleted === '0' ? self.listItemTable.data[index].is_deleted = '1' : self.listItemTable.data[index].is_deleted = '0'
						// self.listItemTable.data.splice(index, 1);
						// self.loadItems(false);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			onRowDoubleClick(){
				alert('open details')
			},
			mDetails(){
				this.$nuxt.$router.push('department/details/add')
			},
			mEdit(item){
				this.$nuxt.$router.push(`department/details/${item.id}`)
				// console.log(item)
			},
			onSearch(params) {
				this.updateParams({searchVal: params.searchTerm, page: 1});
				if (params.searchTerm.length > 2){
					this.loadItems(true);
				}else if (params.searchTerm.length === 0){
					this.loadItems((false))
				}
				// params.searchTerm - term being searched for
				// params.rowCount - number of rows that match search
			},
			updateParams(newProps) {
				this.serverParams = Object.assign({}, this.serverParams, newProps);
				// console.log(this.serverParams)
			},
			// load items is what brings back the rows from server
			loadItems(isSearch) {
				if(isSearch){
					this.$store.dispatch('department/getListSearchDepartment', this.serverParams)
						.then((res) => {
							this.totalRecords = res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
						})
				}else{
					this.$store.dispatch('department/getListDepartment', this.serverParams)
						.then((res) => {
							this.totalRecords = res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
							// console.log(res)
						})
				}

			},
			onPageChange(params){
				this.updateParams({page: params.currentPage});
				this.loadItems(false);
			},
			onSortChange(params){
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
				});
				this.loadItems(false);
			},
			onColumnFilter(params){
				// params.columnFilters - filter values for each column in the following format:
				// {field1: 'filterTerm', field3: 'filterTerm2')
				//console.log(params)
			},
			onPerPageChange(params){
				this.updateParams({perPage: params.currentPerPage});
				this.loadItems(false);
			},
			onSelectChanged (params) {
				const selectedIds = params.selectedRows.reduce((acc, row) => {
					acc.push(row.id);
					return acc;
				}, []);
				// console.log(params.selectedRows);
				// console.log(selectedIds);
			},
			issueIdSort (x, y, col, rowX, rowY) {
				const _x = parseInt(x.replace("sc-", ""));
				const _y = parseInt(y.replace("sc-", ""));
				return (_x < _y ? -1 : (_x > _y ? 1 : 0));
			}
		},
		async mounted() {
		},
		created(){
			this.totalRecords = 0
			this.rows = this.listItemTable.data
		}
	}
</script>

<style lang="scss">
	@import '~scss/plugins/vue-good-table.scss';
</style>
