<template>
<!--	<div id="modal-center" class="uk-flex-top uk-modal" uk-modal="center: true; esc-close: true; bg-close: false;" data-uk-modal>-->
	<div id="modal-center" class="uk-flex-top uk-modal" data-uk-modal>
		<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" >
			<div class="uk-margin-large-top">
				<ScProgressLinear>
					<template #label>
						<ScProgressLabel>
							Uploading file...{{$store.state.setting.fileProgressPercentage}} %
						</ScProgressLabel>
					</template>
					<ScProgressBar :value="$store.state.setting.fileProgressPercentage" color="md-bg-light-blue-800"></ScProgressBar>
				</ScProgressLinear>
			</div>
		</div>
	</div>
</template>

<script>
	import { ScProgressLinear, ScProgressBar, ScProgressLabel } from '~/components/progress'
export default {
	components: {
		ScProgressLinear,
		ScProgressBar,
		ScProgressLabel,
	},
}
</script>
