<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-top-bar" class="sc-top-bar">
			<div class="sc-top-bar-content sc-padding-medium-top sc-padding-medium-bottom uk-flex-1">
				<div class="uk-flex-1">
					<h1 class="sc-top-bar-title">
						Event
					</h1>
					<span class="uk-text-muted">
						The Inviteme
					</span>
				</div>
				<div class="sc-actions uk-margin-left">
					<a @click="btnPrinter" href="javascript:void(0)" class="sc-actions-icon mdi mdi-printer"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-archive"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-dots-vertical"></a>
				</div>
			</div>
		</div>
		<div id="sc-page-content">
			<ScCard>
				<ScCardBody>
					<VueGoodTable
						mode="remote"
						@on-page-change="onPageChange"
						@on-sort-change="onSortChange"
						@on-column-filter="onColumnFilter"
						@on-per-page-change="onPerPageChange"
						@on-search="onSearch"
						@on-row-dblclick="onRowDoubleClick"
						:totalRows="totalRecords"
						:isLoading.sync="isLoading"
						:pagination-options="{
							enabled: true,
						  }"
						:search-options="{
							enabled: true,
							placeholder: 'Search this event',
						  }"
						:columns="columns"
						:rows="rows"
					>
						<template slot="table-row" slot-scope="props">
							<span v-if="props.column.field === 'id'">
								<span><a data-uk-tooltip="Edit" @click="openDialog(props.row)" href="javascript:void(0)" class="mdi mdi-pencil"></a></span>
<!--								<span><a data-uk-tooltip="Resend Email"@click.prevent="resendEmail($event, props.row)" href="javascript:void(0)" class="mdi md-color-green-600 mdi mdi-send"></a></span>-->
<!--								<span><a data-uk-tooltip="Delete"@click.prevent="deleteItem($event, props.row)" href="javascript:void(0)" class="mdi md-color-red-600 mdi mdi-delete"></a></span>-->
							</span>
							<span v-else-if="props.column.field === 'is_deleted'">
								<div v-if="props.row.is_deleted === '0'">
									<a v-waves.button.light class="sc-button sc-button-success" @click="toggleIsActiveItem($event, props.row)" href="javascript:void(0)">
										On
									</a>
								</div>
								<div v-else>
									<a v-waves.button.light class="sc-button sc-button-danger" @click="toggleIsActiveItem($event, props.row)" href="javascript:void(0)">
										Off
									</a>
								</div>
							</span>
							<span v-else-if="props.column.field === 'email_status'" class="uk-label" :class="[priorityLabel(props.row.email_status)]">
								{{ props.row.email_status }}
							</span>
<!--							<span v-else-if="props.column.field === 'generated_at'">-->
<!--								  <span v-if="props.row.generated_at === 'Invalid date'" class="uk-label md-bg-grey-600">not yet generated</span>-->
<!--								  <span v-else>{{props.row.generated_at}}</span>-->
<!--&lt;!&ndash;								  <span v-else>{{parseLocalTime(props.row.paid_date)}}</span>&ndash;&gt;-->
<!--							</span>-->
							<span v-else-if="props.column.field === 'deliver_at'">
								  <span v-if="props.row.deliver_at === 'Invalid date'" class="uk-label md-bg-grey-600">not yet deliver</span>
								  <span v-else>{{props.row.deliver_at}}</span>
								<!--								  <span v-else>{{parseLocalTime(props.row.paid_date)}}</span>-->
							</span>
							<span v-else-if="props.column.field === 'opened_at'">
								  <span v-if="props.row.opened_at === 'Invalid date'" class="uk-label md-bg-grey-600">not yet opened</span>
								  <span v-else>{{props.row.opened_at}}</span>
								<!--								  <span v-else>{{parseLocalTime(props.row.paid_date)}}</span>-->
							</span>
							<span v-else-if="props.column.field === 'files'">
								<a href="javascript:void(0)" @click="showPdf()" class="md-color-red-600 mdi mdi-file-pdf sc-icon-square"></a>
							</span>
<!--							<nuxt-link v-else-if="props.column.field === 'content'" :to="'/masterdata/content/details/' + props.row.content_id + '/content_details'">-->
<!--								click to open the content preview...-->
<!--							</nuxt-link>-->
							<span v-else>
								  {{props.formattedRow[props.column.field]}}
							</span>
						</template>
					</VueGoodTable>
				</ScCardBody>
			</ScCard>
		</div>
<!--		FAB BUTTON-->
<!--		<div class="sc-fab-page-wrapper uk-animation-slide-left">-->
<!--			<a href="javascript:void(0)" @click="openDialog('prompt')" class="sc-fab sc-fab-text md-bg-light-blue-700 sc-fab-dark">-->
<!--				<i class="mdi mdi-email-edit"></i>Edit-->
<!--			</a>-->
<!--		</div>-->
		<div class="sc-fab-page-wrapper uk-animation-slide-left">
			<a href="javascript:void(0)" @click="mDetails" class="sc-fab sc-fab-text md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-plus"></i>Create
			</a>
		</div>
	</div>
</template>

<script>
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';
	// import {showNotification} from "../../plugins/global-function";
	// import { mapState } from 'vuex'
	export default {
		components: {
			VueGoodTable
		},
		async asyncData({app, error}){
			// let listData = await context.$axios.get(`cms/masterdata/content/list/page=1/limit=10/column-sort=id/sort=desc`)
			// return {
			// 	listData: listData.data,
			// }
			return await app.$axios.get('cms/event/list/page=1/limit=10/column-sort=id/sort=asc')
				.then((res) => {
					// console.log(res)
					return {
						listItemTable: res.data,
					}
				})
				.catch((e) => {
					error({ statusCode: 404, message: 'Get not found' })
				})
		},
		data: () => ({
			promptName: '',
			isLoading: false,
			progress: false,
			totalRecords: 0,
			serverParams: {
				columnFilters: {
				},
				sort: {
					field: 'name',
					type: 'asc',
				},
				page: 1,
				perPage: 10,
				searchVal: ''
			},
			columns: [
				{
					label: 'Name',
					field: 'event_title',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'Customer Name',
					field: 'customer_name',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'Date',
					field: 'event_date',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'City',
					field: 'event_city',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				// {
				// 	label: 'Reservation',
				// 	field: 'files',
				// 	// filterOptions: {
				// 	// 	enabled: true
				// 	// }
				// },
				// {
				// 	label: 'Image',
				// 	field: 'image_url',
				// 	width: '50px',
				// 	tdClass: 'uk-text-center',
				// 	// type: 'number',
				// 	// filterOptions: {
				// 	// 	enabled: true
				// 	// }
				// },
				{
					// label: 'Action',
					field: 'id',
					sortable: false,
					width: '50px',
					tdClass: 'uk-text-center',
				},

			],
			rows: [
				{ id:1, name:"John", age: 20, createdAt: '2019-10-12', score: 0.241 },
				{ id:2, name:"Jane", age: 24, createdAt: '2019-10-31', score: 0.03343 },
				{ id:3, name:"Susan", age: 16, createdAt: '2019-10-14', score: 1.00 },
				{ id:4, name:"Chris", age: 55, createdAt: '2019-10-11', score: 0.081 },
				{ id:5, name:"Dan", age: 40, createdAt: '2019-10-25', score: 0.052 },
				{ id:6, name:"John", age: 20, createdAt: '2019-10-30', score: 0.0012 },
			],
		}),
		computed: {
			myLastCounted(){
				// console.log(this.$store.state.auth.count)
				return this.$store.state.auth.count
			},
			// ...mapState('auth', {
			// 	lastcnt: state => state.count
			// 	// messages: state => state.messages,
			// 	// chatOpened: state => state.chatOpened,
			// 	// replyFromTech: state => state.replyFromTech
			// })
		},
		methods: {
			openDialog (row) {
				// console.log(row)
				this.promptName = row.email
				let index = this.rows.findIndex(x => x.id === row.id);
				// console.log(index)
				let self = this;
				UIkit.modal.prompt('New email :', self.promptName)
					.then(function (newEmail) {
						// console.log(newEmail)
						// console.log(row.email)
						if (newEmail !== null){
							// console.log('Prompted: ', name)
							// console.log(self.row.data, index)
							self.rows[index].email = newEmail
							self.$store.dispatch('email/editResendEmail', {id: row.id, email: newEmail})
							self.promptName = newEmail
						}
				})
			},
			showPdf(path){
				// alert('pdf opened')
				window.open('https://cdnx.bumikita.or.id/assets/files/pdf/CYC010820/BM010820_000001.pdf', '_blank')
			},
			btnPrinter(){
				this.$store.commit('auth/increment', 1)
				// console.log(this.$store.state.auth.count)
			},
			deleteItem(e, row){
				// console.log(row.id, row)
				const self = this;
				let index = this.listItemTable.data.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('department/deleteDepartment', row.id)
					// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listItemTable.data.splice(index, 1);
						// self.loadItems(false);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			resendEmail(e, row){
				const self = this;
				// let index = this.listItemTable.data.map(function (item) {
				// 	return item.id
				// }).indexOf(row.id);
				let index = this.rows.findIndex(x => x.id === row.id);
				// console.log(index)
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to resend email <strong>'+ row.email +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Resend'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('email/resendEmailByEmailnId', {id: row.id, email: row.email})
					// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.rows[index].blast_status = 'on progress'
						// Object.keys(self.listItemTable.data)
						// self.loadItems(false);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			toggleIsActiveItem(e, row){
				// console.log(row)
				const self = this;
				let index = this.listItemTable.data.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm(`<p class="uk-text-large">Do you really want to ${row.is_deleted === '0' ? 'deactivate' : 'activate'} <strong>${row.content_title}</strong>?</p>`, {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': row.is_deleted === '0' ? 'Deactivate' : 'Activate'
					}
				}).then(async function () {
					// Updated
					await self.$store.dispatch('disaster/editIsActiveDisaster', {id: row.content_id, is_deleted: row.is_deleted === '0' ? '1' : '0'})
					// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						// console.log(self.listItemTable.data[index].is_deleted = '1')
						row.is_deleted === '0' ? self.listItemTable.data[index].is_deleted = '1' : self.listItemTable.data[index].is_deleted = '0'
						// self.listItemTable.data.splice(index, 1);
						// self.loadItems(false);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			onRowDoubleClick(){
				alert('open details')
			},
			mDetails(){
				this.$nuxt.$router.push('event/details/add')
			},
			mEdit(item){
				this.$nuxt.$router.push(`event/details/${item.id}`)
				// console.log(item)
			},
			onSearch(params) {
				this.updateParams({searchVal: params.searchTerm, page: 1});
				if (params.searchTerm.length > 2){
					this.loadItems(true);
				}else if (params.searchTerm.length === 0){
					this.loadItems(false)
				}
				// params.searchTerm - term being searched for
				// params.rowCount - number of rows that match search
			},
			updateParams(newProps) {
				this.serverParams = Object.assign({}, this.serverParams, newProps);
				// console.log(this.serverParams)
			},
			// load items is what brings back the rows from server
			loadItems(isSearch) {
				this.isLoading = true
				if(isSearch){
					this.$store.dispatch('email/getListSearchResendEmail', this.serverParams)
						.then((res) => {
							this.totalRecords = res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
						})
				}else{
					this.$store.dispatch('email/getListResendEmail', this.serverParams)
						.then((res) => {
							this.totalRecords = res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
							// console.log(res)
						})
				}

			},
			onPageChange(params){
				this.updateParams({page: params.currentPage});
				this.loadItems(false);
			},
			onSortChange(params){
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
				});
				this.loadItems(false);
			},
			onColumnFilter(params){
				// params.columnFilters - filter values for each column in the following format:
				// {field1: 'filterTerm', field3: 'filterTerm2')
				//console.log(params)
			},
			onPerPageChange(params){
				this.updateParams({perPage: params.currentPerPage});
				this.loadItems(false);
			},
			onSelectChanged (params) {
				const selectedIds = params.selectedRows.reduce((acc, row) => {
					acc.push(row.id);
					return acc;
				}, []);
				// console.log(params.selectedRows);
				// console.log(selectedIds);
			},
			issueIdSort (x, y, col, rowX, rowY) {
				const _x = parseInt(x.replace("sc-", ""));
				const _y = parseInt(y.replace("sc-", ""));
				return (_x < _y ? -1 : (_x > _y ? 1 : 0));
			}
		},
		async mounted() {

			// console.log(await this.$store.state.auth.user)
		},
		created(){
			this.totalRecords = this.listItemTable.paginate.totalRow
			this.rows = this.listItemTable.data
			// console.log(this.rows)
		}
	}
</script>

<style lang="scss">
	@import '~scss/plugins/vue-good-table.scss';
</style>
